<!DOCTYPE html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body>
    
	  {{>nav}}
    
    <section class="home-slider js-fullheight owl-carousel bg-white">
      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-md-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url({{page.hero.bg_image1}});">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            <h1 class="mb-4">{{{page.hero.header}}}</h1>
		            <p>{{{page.hero.subtext}}}
                     </p>
		            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">See Our Menus</a></p>
	            </div>
	          </div>
        	</div>
        </div>
      </div>

      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
        <div class="container-fluid p-0">
          <div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
          	<div class="one-third order-md-last img js-fullheight" style="background-image:url({{page.hero.bg_image2}});">
          		<div class="overlay"></div>
          	</div>
	          <div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
	          	<div class="text mt-md-5">
		            <h1 class="mb-4">{{{page.hero.header2}}}</h1>
		            <p>{{{page.hero.subtext2}}}</p>
		            <p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Place Order </a></p>
	            </div>
	          </div>
        	</div>
        </div>
      </div>
    </section>
	

		<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url({{page.about.bg_image}}); position: relative"></div>
					<div class="col-sm-7 wrap-about py-5 ftco-animate">
	          <div class="heading-section mt-5 mb-4">
	          	<div class="pl-lg-5 ml-md-5">
		          	<span class="subheading">Ellon's</span>
					  <br>
		            <h2 class="mb-4">{{page.about.header}} </h2>
	            </div>
	          </div>
	          <div class="pl-lg-5 ml-md-5">
							<p>{{page.about.subtext}}</p>
							<h3 class="mt-5">Discover</h3>
							<div class="thumb my-4 d-flex">
							{{#page.about.images}}
	            	<a href="#" class="thumb-menu pr-md-4 text-center">
	            		<div class="img" style="background-image: url({{image}});"></div>
	            		<h4>{{caption}}</h4>
	            			{{/page.about.images}}

	            	</a>
	            </div>
						</div>
					</div>
				</div>
			</div>
		</section>


    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Specialties</span>
            <h2 class="mb-4">Our Menu</h2>
          </div>
        </div>


        <div class="row">
        	<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Coffee</h3>
        		</div>
			{{#Coffee}}
        	<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">${{price}}</span>
	                </div>
	              </div>
	              <p><span>{{description}}</span></p>
              </div>
            </div>
			{{/Coffee}}
			</div>

           
			<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Other Drinks</h3>
        		</div>
				 {{#Other}}
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">${{price}}</span>
	                </div>
	              </div>
	              <p><span>{{description}}</span></p>
              </div>
            </div>
            {{/Other}}
        	</div>

			 
			<div class="col-md-6 col-lg-4 menu-wrap">
        		<div class="heading-menu text-center ftco-animate">
        			<h3>Pastries</h3>
        		</div>
				 {{#Pastries}}
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url({{image}});"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>{{name}}</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">${{price}}</span>
	                </div>
	              </div>
	              <p><span>{{description}}</span></p>
              </div>
            </div>
            {{/Pastries}}
        	</div>


        </div>
		<div class="heading-menu text-center ftco-animate">
        			<h3>Dinner</h3>
        		</div>
        		<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-1.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Beef with potatoes</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">$29</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url(images/dinner-2.jpg);"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Crab with Onion</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">$29</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url();"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Crab with Onion</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">$29</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
			<div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url();"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Beef with potatoes</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">$29</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url();"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Crab with Onion</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">$29</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
            <div class="menus d-flex ftco-animate">
              <div class="menu-img img" style="background-image: url();"></div>
              <div class="text">
              	<div class="d-flex">
	                <div class="one-half">
	                  <h3>Grilled Crab with Onion</h3>
	                </div>
	                <div class="one-forth">
	                  <span class="price">$29</span>
	                </div>
	              </div>
	              <p><span>Meat</span>, <span>Potatoes</span>, <span>Rice</span>, <span>Tomatoe</span></p>
              </div>
            </div>
        	</div>

    </section>

     <section class="ftco-section testimony-section" style="background-image: url({{page.quotes.b_image}});" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          	<span class="subheading">{{page.quotes.header}}</span>
            <h2 class="mb-4">{{page.quotes.subheader}}
			</h2>
          </div>
        </div>
        <div class="row ftco-animate justify-content-center">
          <div class="col-md-7">
            <div class="carousel-testimony owl-carousel ftco-owl">
              {{#love}}
              <div class="item">
                <div class="testimony-wrap text-center py-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({{image}})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text p-3">
                    <p class="mb-4">{{quote}}</p>
                    <p class="name">{{name}}</p>
                    <span class="position">{{position}}</span>
                  </div>
                </div>
              </div>
              {{/love}}
            </div>
          </div>
        </div>
      </div>
    </section>
			

		<section class="ftco-section ftco-no-pt ftco-no-pb">
			<div class="container">
				<div class="row d-flex">
          <div class="col-md-5 ftco-animate img img-2" style="background-image: url(images/coffeeshop7.jpg);"></div>
          <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
          	<div class="heading-section ftco-animate mb-5">
	          	<span class="subheading">Order In</span>
	            <h2 class="mb-4">Delivery and Pick up</h2>
	          </div>
            <form action="/order" method = "post">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Name</label>
                    <input id="order-name" name ="name" type="text" class="form-control" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Email</label>
                    <input id="order-email" name="email" type="text" class="form-control" placeholder="Your Email">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="">Phone</label>
                    <input id="order-phone" name ="phone" type="text" class="form-control" placeholder="Phone">
                  </div>
                </div>
                <div class="col-md-12 ">
                  <div class="form-group">
                    <label for="">Order</label>
                    <textarea id="order-description" name="order" type="text" rows = "5" class="form-control" placeholder="Describe your order here"></textarea>
                  </div>
                </div>
               
                <div class="col-md-12 mt-3">
                  <div id="btn-order-container" class="form-group">
                    <input id="btn-order" type="submit" value="Place Order" class="btn btn-primary py-3 px-5">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
			</div>
		</section>
  

  {{>footer}}

 {{>scripts}}

  <script type="text/javascript">
  (function(){
    console.log('hello!')
    $('#btn-order').click(function(event){
      if (event)
      event.preventDefault()
      var order = {
        name: $('#order-name').val(),
        email: $('#order-email').val(),
        phone: $('#order-phone').val(),
        order: $('#order-description').val()
      }
      
      console.log('PLACE ORDER: ' +JSON.stringify(order))
      $.ajax({
        url: '/order',
        method: 'post',
        data: order,
        success: function(resp){
          console.log('ORDER RECEIVED: ' +JSON.stringify(resp))
          $('#btn-order-container').html('<h3>Thanks. We will send you an email when your order is ready!<h3>')
        },
        error: function(resp){

        }
      })
    })
  })()
    </script>
  </body>
</html>