 <script src=" {{{cdn}}}/js/jquery.min.js"></script>
  <script src="{{{cdn}}}/js/jquery-migrate-3.0.1.min.js"></script>/
  <script src="{{{cdn}}}/js/popper.min.js"></script>
  <script src="{{{cdn}}}/js/bootstrap.min.js"></script>
  <script src="{{{cdn}}}/js/jquery.easing.1.3.js"></script>
  <script src="{{{cdn}}}/js/jquery.waypoints.min.js"></script>/
  <script src="{{{cdn}}}/js/jquery.stellar.min.js"></script>
  <script src="{{{cdn}}}/js/owl.carousel.min.js"></script>
  <script src="{{{cdn}}}/js/jquery.magnific-popup.min.js"></script>
  <script src="{{{cdn}}}/js/aos.js"></script>
  <script src="{{{cdn}}}/js/jquery.animateNumber.min.js"></script>
  <script src="{{{cdn}}}/js/bootstrap-datepicker.js"></script>
  <script src="{{{cdn}}}/js/jquery.timepicker.min.js"></script>
  <script src="{{{cdn}}}/js/scrollax.min.js"></script>
  <script src="{{{cdn}}}/js/main.js"></script>